body {
    background: url('https://images.pexels.com/photos/1105666/pexels-photo-1105666.jpeg?cs=srgb&dl=people-at-concert-1105666.jpg&fm=jpg   ') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.card {
  width: 300px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}

/* .nav-item .nav-link[disabled]:hover {
  
} */